#scroll-animate {
    overflow: hidden;
}

#scroll-animate-main {
    width: 100%;
    left: 0;
    position: fixed;
}

#heightPage,
#heightScroll {
    width: 10px;
    top: 0;
    position: absolute;
    z-index: 99;
}

#heightPage {
    left: 0;
}

#heightScroll {
    right: 0;
}

footer {
    width: 100%;
    height: auto;
    background: gray;
    bottom: -300px;
    position: fixed;
    z-index: -1;
}

.under {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: gray;
    top: 0;
    position: fixed;
    z-index: -1;
}

.content {
    height: 1000px;
    min-height: 1000px;
    background: #ededed;
    position: relative;
    z-index: 2;

}

.legend {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-family: Helvetica;
    font-size: 150px;
    color: rgba(64, 60, 60, 0.708);
}

.wrapper-parallax {
    margin-top: 0;
    margin-bottom: 300px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

footer,
#scroll-animate-main {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;

    -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
}